name: Publish docs via GitHub Pages
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1
      
      - name: Check dir
        run: |
          mkdir docs
          mv SP/* docs/
          mv Wiki/* docs/

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
